<!DOCTYPE html>
<html>
  	<head>
		<title>Login and Registration</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

  	<body>

  	<div id="container">
		<% if @current_user %>		
			<form action="/sessions/<%=@current_user.id%>" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" class="logout_btn" value="Log Out">
			</form>
		<% end %> 
		
		<%= yield %>
	</div>
	

  </body>
</html>
